.container1{
    background-color: rgb(136, 255, 0);
    border: #7d0a8c;
    margin: 20px;
    padding: 20px;
    height: 45vh;
}
.heading1{
    color: rgb(61, 25, 203);
    border: 4px solid rgb(225, 28, 28);
    padding: 20px;
}
.para1{
    color: rgb(103, 220, 14);
    border: 5px solid rgb(107, 14, 170);
    padding: 30px;
}
.mini{
    background-color: pink;
    font-size: 80px;
}