.active{
    background-color: white;
    color: black;
}
.inactive{
    background-color: black;
    color: white;
}
div{
    height: 200px;
    width: 200px;
}
.white{
   
    background-color: #fff;
}
.black{
    background-color: black;
    color: white;
}